<ng-container *ngIf="selectedMaterial as material">
  <div class="flex items-center ml-5">
    <button (click)="handleClickLeft()" mat-icon-button aria-label="Switch to previ material entry">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <h1 mat-dialog-title>
      Material: {{ material.Material }}
    </h1>
    <button (click)="handleClickRight()" mat-icon-button aria-label="Switch to next material entry">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  <mat-dialog-content>
    <div class="grid gap-5 grid-cols-3">
      <div>
        <mat-list>
            <app-material-details-entry subject="Quantity" [value]="material.Quantity"/>
            <app-material-details-entry subject="Available" [value]="material.Available"/>
            <app-material-details-entry subject="DescTxt" [value]="material.DescTxt"/>
            <app-material-details-entry subject="CustomerPrice" [value]="material.CustomerPrice + ' ' + material.CustomerCurrency"/>
            <app-material-details-entry subject="RepairPrice" [value]="material.RepairPrice + ' ' + material.RepairCurrency"/>
        </mat-list>      
      </div>
      <div>
        <mat-list>
          <app-material-details-entry subject="ExtUnit" [value]="material.ExtUnit"/>
          <app-material-details-entry subject="MatStatus" [value]="material.MatStatus ? material.MatStatus : 'not available'"/>
          <app-material-details-entry subject="StorageLoc" [value]="material.StorageLoc"/>
          <app-material-details-entry subject="StorageLocDesc" [value]="material.StorageLocDesc"/>
          <app-material-details-entry subject="NDFQuote" [value]="material.NDFQuote"/>
        </mat-list>      
      </div>
      <div>
        <mat-list>
          <app-material-details-entry subject="NDFCounter" [value]="material.NDFCounter"/>
          <app-material-details-entry subject="TSPercentage" [value]="material.TSPercentage"/>
          <app-material-details-entry subject="TSPercentageCounter" [value]="material.TSPercentageCounter"/>
        </mat-list>      
      </div>
    </div>
    <app-material-list-input [material]="material"/>          

  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-container>