<mat-list-item role="listitem">
    <div matListItemTitle>
        <span>Material:</span>
        {{ material.Material }}
    </div>
    <div matListItemLine>
        <span>DescTxt:</span>
        {{ material.DescTxt }}
    </div>
    <div matListItemLine>
        <span>Price;</span>
        {{ material.CustomerPrice }}
        {{ material.CustomerCurrency }}
    </div>
    <div matListItemLine>
        <span>Quantity:</span>
        {{ material.Quantity }}
    </div>
    <div matListItemLine>
        <span>Available:</span>
        {{ material.Available }}
    </div>
</mat-list-item>